.link {
  display: inline-block;
  color: #ddd4d4;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

.link:hover {
  color: #ddd4d4;
}

.link::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  background: #ddd4d4;
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
}
